p{
    color:blueviolet;
    font-style:italic;
    font-size:x-large
}
#elsayuri{
    width: 50vw;
}
h1{
      font-size: xx-large;
      color: aqua;
}
container{
    display:flex;
    justify-content: center;


}